/* AddGrowth.css */

.add-growth-page {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  border-radius: 0; /* Remove border radius */
  position: relative; /* Added position relative */
}

.add-growth-page .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover; /* Make the video cover the entire page */
}

.add-growth-page .form-wrapper {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the form vertically */
  height: 80%; /* Make the form wrapper fill the entire viewport height */
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 160px;
  margin-bottom: 160px;
  margin-top: 140px; /* Adjusted background color */
}

.add-growth-page .form-container {
  max-width: 400px;
  width: 90%; /* Adjusted width */
  padding: 1rem;
  background-color: transparent; /* Set background color to transparent */
  border-radius: 8px;
}

.add-growth-page .form-container h2 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
}
