/* contact.css */

.contact-container {
    position: relative;
    width: 100%; /* Adjust width as needed */
    max-width: 800px; /* Limit maximum width */
    margin: 60px auto 20px; /* Adjust margin */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('https://videocdn.cdnpk.net/joy/content/video/free/video0482/large_preview/_import_62aad5c5abd6e9.44692960.mp4') no-repeat center center / cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.bg-video {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    padding: 20px; /* Adjust padding */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.contact-heading {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bolder;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.contact-info {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Times New Roman', Times, serif;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-email {
    font-size: 18px;
    margin-top: 20px;
}
  
.back-button {
    position: absolute;
    top: 40px; /* Adjust top position as needed */
    left: 50px; /* Adjust left position as needed */
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: bolder;
    border-radius: 10px; /* Add border radius */
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.back-button:hover {
    color: #ccc;
}
