.growth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
  }
  
  .bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .growth-page .container {
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    background-color: rgba(174, 219, 184, 0.9); /* Transparent background */
    width: 1000px;
    padding: 50px; /* Adjusted padding */
    margin-top: 20px; /* Added margin to the top */
  }

  .growth-page .container:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .growth-page .container a {
    text-decoration: none;
    color: #333;
  }

  .growth-page .container h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px; /* Adjusted margin */
  }

  .growth-page .container p {
    color: #333; /* Changed text color */
  }

  .page-heading {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #030202;
    font-family: times new roman;
    font-weight: bolder;
  }
  